<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Usuario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="color-box" style="background-color: #C4E1E6;">
<div class="container mt-4">

    <h2>Registro de usuario</h2>

    <!-- Mostrar error o éxito -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <form th:action="@{/auth/register}" th:object="${user}" method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="surname" class="form-label">Apellido</label>
            <input type="text" id="surname" th:field="*{surname}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="text" id="phone" th:field="*{phone}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required/>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>