<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid bg-light py-3">
    <div class="row align-items-center">
        <div class="col text-center">
            <h1 class="mb-0">Panel de proyectos</h1>
        </div>
    </div>
</div>
</body>
</html>