<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Proyecto</title>
</head>
<body>

<h1 th:text="${project.id} == null ? 'Crear Proyecto' : 'Editar Proyecto'"></h1>

<form th:action="@{/projects/save}" th:object="${project}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Nombre del proyecto:</label>
    <input type="text" th:field="*{name}" required />
    <br/>

    <label>Descripción:</label>
    <textarea th:field="*{description}" rows="5" cols="40"></textarea>
    <br/>
    <label>Fecha de inicio:</label>
    <input type="date" th:field="*{startDate}" />
    <br/>
    <label>Jefe de proyecto:</label>
    <span th:text="${loggedUser.name}">Usuario</span>
    <button type="submit">Guardar configuracion proyecto</button>
</form>

<!-- Solo para cuando el proyecto ya este creado, solo aparece en editar crear thif-->
<div th:if="${project.id != null}">
<form th:action="@{/projects/{id}/addUser(id=${project.id})}" method="post">
<label>Añadir usuario a proyecto:</label>
<select id="userSelect" name="userId" class="form-select">
    <option value="" disabled> Selecciona un usuario
        <option th:each="user : ${allUsers}"
                th:value="${user.id}"
                th:text="${user.username}"
                th:if="${!project.users.contains(user)}">
    </option>
</select>
    <button type="submit">Guardar</button>
</form>
</div>
<a href="/projects">Volver a la lista</a>

</body>
</html>