<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalle del projecto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
    <h1>Detalle del proyecto</h1>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

<div th:if="${project}">
    <h2 th:text="${project.name}"></h2>
    <div class="detail-item">
        <strong>ID:</strong><span th:text="${project.id}"></span></strong>
    </div>
    <div class="detail-item">
        <strong>Nombre:</strong><span th:text="${project.name}"></span></strong>
        <br>
        <strong>Descripción:</strong><span th:text="${project.description}"></span></strong>
    </div>


</div>


</body>

</html>