<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Tarea</title>
</head>
<body>

<h1 th:text="${task.id != null ? 'Modificar tarea ' + task.id : 'Crear nueva tarea'}"></h1>

<form th:action="@{/tasks/save}" th:object="${task}" method="post">
    <!-- ID oculto -->
    <input type="hidden" th:field="*{id}" />

    <!-- Título -->
    <div>
        <label for="title">Título:</label>
        <input type="text" id="title" th:field="*{title}" placeholder="Título de la tarea" required />
    </div>
    <br>

    <!-- Descripción -->
    <div>
        <label for="description">Descripción:</label>
        <textarea id="description" th:field="*{description}" placeholder="Descripción de la tarea" rows="4"></textarea>
    </div>
    <br>
    <!-- Fecha de vencimiento -->
    <div>
        <label for="dueDate">Fecha límite:</label>
        <input type="date" id="dueDate" name="dueDate"
               th:value="${task.dueDate != null} ? ${task.dueDate} : ''" />
    </div>

    <br>
    <div>
        <label>Estado:</label>
        <select id="taskStatus" th:field="*{taskStatus}">
            <option th:each="status : ${taskStatus}" th:value="${status}" th:text="${status}"></option>
        </select>
    </div>
    <!-- Botones -->
    <div>
        <a th:href="@{/tasks}">Cancelar</a>
        <button type="submit">
            <span th:text="${task.id != null ? 'Actualizar' : 'Guardar'}"></span>
        </button>
    </div>
    <input type="hidden" th:field="*{project.id}" />

</form>

</body>
</html>