<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>GestorTIC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbarIndex}"></div>

<!-- Contenido principal -->
<main class="container my-5 text-center flex-grow-1">
    <div class="main-content">
        <h1 class="display-title">Bienvenido a GestorTIC</h1>
        <p class="lead">Gestiona tus tareas, proyectos y equipos de forma inteligente.</p>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="feature-card">
                <h5>Organiza tus Proyectos</h5>
                <p>Visualiza y administra múltiples proyectos desde una sola plataforma.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-card">
                <h5>Control de Usuarios</h5>
                <p>Permisos por roles, edición de perfiles en un entorno amigable.</p>
            </div>
        </div>
    </div>

</main>

<!-- Footer -->
<footer class="bg-light text-center text-secondary py-3 mt-auto">
    <small>&copy; 2025 GestorTIC</small>
</footer>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form th:action="@{/auth/login}" method="post">
                <!-- Mostrar mensaje error si login fallido -->
                <div th:if="${loginError}" class="alert alert-danger">
                    Usuario o contraseña incorrectos
                </div>
                <div th:if="${registeredSuccess}" class="alert alert-success">
                    Usuario registrado correctamente. Por favor inicia sesión.
                </div>

                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="username" class="form-control mb-3" placeholder="Usuario" required />
                    <input id="loginPassword" type="password" name="password" class="form-control mb-1" placeholder="Contraseña" required />
                    <div class="form-check mt-3 mb-3">
                        <input class="form-check-input" type="checkbox" id="showLoginPassword">
                        <label class="form-check-label" for="showLoginPassword">Mostrar contraseña</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Registro -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
            <form th:action="@{/auth/register}" method="post" th:object="${user}">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Crear cuenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="text" th:field="*{name}" class="form-control mb-3" placeholder="Nombre" required />
                    <input type="text" th:field="*{surname}" class="form-control mb-3" placeholder="Apellidos" required />
                    <input type="text" th:field="*{phone}" class="form-control mb-3" placeholder="Teléfono" required />
                    <input type="text" th:field="*{username}" class="form-control mb-3" placeholder="Usuario" required />
                    <input type="email" th:field="*{email}" class="form-control mb-3" placeholder="Correo electrónico" required />
                    <input id="registerPassword" type="password" th:field="*{password}" class="form-control mb-1" placeholder="Contraseña" required />
                    <small class="text-muted mb-2 d-block">Mínimo 8 caracteres, una mayúscula y un número.</small>
                    <input id="registerConfirmPassword" type="password" name="confirmPassword" class="form-control mb-3" placeholder="Repetir Contraseña" required />
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="showRegisterPassword">
                        <!--Si queremos que se vea el borde de checkbox en negro-->
                        <!--style="border: 1px solid; cursor: pointer;"-->
                        <label class="form-check-label" for="showRegisterPassword">Mostrar contraseña</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Scripts -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!--/* Si hay un error de login, mostrar el modal */-->
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {

        const loginError = /*[[${loginError}]]*/ false;
        const registeredSuccess = /*[[${registeredSuccess}]]*/ false;

        if (loginError || registeredSuccess) {
            const loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
            loginModal.show();
        }

        const showRegister = /*[[${showRegisterModal}]]*/ false;
        if (showRegister) {
            const registerModal = new bootstrap.Modal(document.getElementById('registerModal'));
            registerModal.show();
        }
    });
    /*]]>*/
</script>

<!--Mostrar u ocultar contraseñas en los formularios de login y registro-->
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        // Mostrar/Ocultar contraseña Login
        const loginCheckbox = document.getElementById('showLoginPassword');
        const loginPassword = document.getElementById('loginPassword');
        if(loginCheckbox && loginPassword) {
            loginCheckbox.addEventListener('change', function () {
                loginPassword.type = this.checked ? 'text' : 'password';
            });
        }

        // Mostrar/Ocultar contraseña Registro
        const registerCheckbox = document.getElementById('showRegisterPassword');
        const registerPassword = document.getElementById('registerPassword');
        if(registerCheckbox && registerPassword) {
            registerCheckbox.addEventListener('change', function () {
                registerPassword.type = this.checked ? 'text' : 'password';
                // También mostrar/ocultar confirmPassword en registro
                const registerConfirm = document.getElementById('registerConfirmPassword');
                if(registerConfirm) {
                    registerConfirm.type = this.checked ? 'text' : 'password';
                }
            });
        }
    });
    /*]]>*/
</script>



</body>
</html>
